# Локальное окружение Docker Compose для разработки.
# Файл .env.docker создаётся командой make init.

### Права файлов на хосте ###
HOST_UID=1000
HOST_GID=1000

### Docker Compose ###
APP_PORT=8080
DB_FORWARD_PORT=5433

### PostgreSQL ###
POSTGRES_DB=mvc_v1
POSTGRES_USER=mvc_v1
POSTGRES_PASSWORD=mvc_v1_local_password

### Приложение ###
APP_ENV=local
APP_NAMESPACE="App\\"
APP_TIMEZONE=Europe/Moscow
DB_HOST=postgres
DB_NAME=mvc_v1
DB_USER=mvc_v1
DB_PASS=mvc_v1_local_password
